{% extends 'base.html' %}
{% block body %}
    
    <div class="container-fluid mx-md-5 my-md-5">
        <div class="card text-bg-secondary p-3" style="max-width: 20rem;">
            <div class="card-header">About</div>
            <div class="card-body">
              <p class="card-text">This app  was created by Aryan Khandhadiya .Just for Fun .The idea for this app began while i was learning flask. I watched many tutorial and decided to build this app.</p>
            </div>
          </div>
    </div>
{% endblock body  %}